<!DOCTYPE html>
<html ng-app="hackathong">
  <head>
    <title>Hackathong</title>

    <link rel="stylesheet" href="/stylesheets/vendor/normalize.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <div class="wrapper">
      <h1>My Apps</h1>

      <input ng-model="query">

      <ul ng-controller="AppListCtrl">
        <li ng-repeat="app in apps | filter:query">{{ app.name }}</li>
      </ul>
    </div>
  </body>

  <script src="/javascripts/vendor/angular.js"></script>
  <script src="/javascripts/vendor/angular-resource.js"></script>
  <script src="/javascripts/services.js"></script>
  <script src="/javascripts/app.js"></script>
</html>
